extends layout

block head
  script(type='text/javascript' src='libs/phaser/build/phaser.js').
  script(type='text/javascript' src='libs/webrtc-adapter/adapter.js').
  script(type='text/javascript' src='/socket.io/socket.io.js').
  script(type='text/javascript' src='javascripts/game.js').
  script(type='text/javascript' src='javascripts/rtc.js').


block content
  h1= title
  p Welcome to #{title}
